*{
    margin: 0;
    border: 0;
    outline: 0;
    padding: 0;
    box-sizing: border-box;
}

.stopwatch--container{
    margin: 4rem auto;
    max-width: 40rem;
    padding: 2rem;
    text-align: center;
    /* background: #f4f4f4; */
    border-radius: 10px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.7);
}

.stopwatch--display{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.stopwatch--buttons{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.stopwatch--buttons button{
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid black;
    margin: 0.5rem;
}